body, html, main {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Open Sans', Arial, sans-serif;
}

#main {
	#waymark {
		height: 66%;
		#waymark-submission {
			height: 100%;
			//Error
			.waymark-message {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				z-index: +10000;		

				background: #fff;
				color: #333;
		
				border: none;
				border-bottom: 2px solid #bbb;
			}
		
			#waymark-map-add {
				padding: 10px;	

				#map_title-container {
					display: none;
				}

				//Submit
				input.button {
					padding: 5px 10px;
			
					font-size: 18px;
			
					background: #fff;
					color: #b42714;
					border: 2px solid #bbb;
					border-radius: 3px;
				}		
			}
			#waymark-parameters-waymark_map	{
				padding: 0;
			}
		}
	}
	#words {
		height: 33%;
		padding: 10px;	
		
		p:first-child {
			font-size: 130%;
			color: red;
		}
	}
}