body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Open Sans', Arial, sans-serif;
}

// body.admin-bar {}

.waymark-message {
	&.waymark-success {
		color: #fff !important;
		background: green !important;
	}
	&.waymark-error {
		color: #fff !important;
		background: red !important;	
	}
}

#waymark {
	height: 66%;
	
	//Add
	#waymark-submission {
		position: relative;
		height: 100%;
		//Error
		.waymark-message {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: +10000;		
		}
	
		#waymark-map-add {
			padding: 10px;	

			#map_title-container {
				display: none;
			}

			//Submit
			input.button {
				padding: 7px 12px;	
				font-size: 18px;		
				color: #fff;
				background: #b42714;
				border: none;
				cursor: pointer;
			}		
		}
		#waymark-parameters-waymark_map	{
			padding: 0;
		}
	}
	
	//View
	.waymark-shortcode {
		height: 100%;			
	}
}
#words {
	height: 33%;
	padding: 10px;	
	
	p:first-child {
		font-size: 130%;
		color: red;
	}

	.waymark-meta-item {
		padding-left: 0;
		padding-right: 0;				
	}	
	
	#footer {
		margin-top: 10px;
		padding-top: 10px;
		border-top: 2px solid #bbb;	
		font-size: 90%;
	}	
}
