body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}
.waymark-message.waymark-success {
  color: #fff !important;
  background: green !important;
}
.waymark-message.waymark-error {
  color: #fff !important;
  background: red !important;
}
#waymark {
  height: 66%;
}
#waymark #waymark-submission {
  position: relative;
  height: 100%;
}
#waymark #waymark-submission .waymark-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
#waymark #waymark-submission #waymark-map-add {
  padding: 10px;
}
#waymark #waymark-submission #waymark-map-add #map_title-container {
  display: none;
}
#waymark #waymark-submission #waymark-map-add input.button {
  padding: 7px 12px;
  font-size: 18px;
  color: #fff;
  background: #b42714;
  border: none;
  cursor: pointer;
}
#waymark #waymark-submission #waymark-parameters-waymark_map {
  padding: 0;
}
#waymark .waymark-shortcode {
  height: 100%;
}
#words {
  height: 33%;
  padding: 10px;
}
#words p:first-child {
  font-size: 130%;
  color: red;
}
#words .waymark-meta-item {
  padding-left: 0;
  padding-right: 0;
}
#words #footer {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid #bbb;
  font-size: 90%;
}
